*,
*::before,
*::after {
    margin: 0%;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    max-width: 100%;
    background: #FFFFFF;
    text-align: center;
    overflow-x: hidden;
}

.header {
    
    background: #FFFFFF;
    align-items: center;
}


.nav {
    left: 0px;
    top: 0px;
    border-radius: 0px;
    padding: 1% 6%; 
}
    
.nav-link{
    color: #2E7AF4 !important;
}
    

.lines {display: block;
    margin-top: 0.3em;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    z-index: 1;
    width: 87.3%;
    color: #000;
    height: 10%;
    border: 3px solid #B5B5B5;
    margin-left: 6%;
}

.line-items{
    margin-left: 6%;
    
}

.line-all{
    padding-right: 2%;
    color: #2E7AF4;
    font-weight: bold;
}

.line{
    padding-right: 2%;
    color: rgba(0, 0, 0, 0.3);
}

.lanes {
    border-style: inset;
    border-width: 1px;
    z-index: 1;
    width: 20%;
    border: 1px solid #2E7AF4; 

}

/*Build Section*/
.build-section{
    position: relative;
    width: 100%;
    height: 200%;
    
    background: #EFFAFF; 
    margin-bottom: 3%;
 }

.intro{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 125%;
    text-transform: uppercase;
    color: #2E7AF4;
    padding-top: 10%;
  }

.around {      
    font-family: Lato;
    font-style: normal;
    font-weight: 800;
    font-size: 312.5%;
    text-align: center;
    
    color: #000000;
    padding-bottom: 8%;
    }
/*Blog Section*/

.blog-section{
    background: #FFFFFF
}



.book{
    position: relative;
    background-color: #FFFFFF;
    background-position: center;
    background-size: cover;
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%; 
    box-sizing: border-box;
    overflow: hidden;

    margin-left: 6%;
    margin-bottom: 6%;
}

.geek{
    padding-top: -20%;
    
}

.daniel{
    border-radius: 100%;
}

.long-term{
    text-align: left;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 112.5%;
    line-height: 25px;
}

.steps{
font-family: Lato;
font-style: italic;
font-weight: 600;
font-size: 156.25%;

color: #000000;
display: flex;
text-align: left;
}  

.stud-btn{
    list-style: none;
    text-decoration: none;
    text-align: center;
    font-size: 20px;

    font-family: Open Sans;
    font-size: 50%;
    font-style: normal;
    font-weight: bold;
    text-align: centered;

    background: #EF6464;
    color: #FFFFFF;
    position: relative;
    border-radius: 3px;
    border-color: #EF6464;
    padding: 6px 11px;

    margin-left: 70%;
    
}

.admin{
    display: flex;
    justify-content: space-between;
    padding: 1%;
 }

/*End of Blog Section*/


/*Footer Section*/

.footer{
    background-color: #1E2734;
    color: #FFFFFF;
    position: relative;
    margin-top: 10px;
}

.foot {
    justify-content: space-between;
    left: 0px;
    top: 0px;
    text-align: center;
    border-radius: 0px;
    padding: 15px;
    border-radius: 0px;
    position: relative;
    padding: 50px 0 20px;
}

.footing{
  display: flex;
  padding: 10px 30px;
  margin-left: 90px;
  justify-content: space-between;
  margin-right: 90px;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 0px;
    top: 0px;
    margin: 0;
    border-radius: 0px;
    padding: 15px; 
}

.copyright { font-family: Lato;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 28px;
margin-top: 6%;
/* identical to box height, or 233% */

color: #E1E1E1;
}

.put {
    width: 251px;
    height: 50px;
    left: 1387px;
    top: 7673px;
}

.fl{  
list-style: none;
text-decoration: none;
text-align: left;
size: 20px;

font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 28px;
/* identical to box height, or 140% */


color: #E1E1E1;

}

.footer-logo{
    width: 250px;
    height:  50px;
    margin-bottom: 4%;
}

.soc{
    margin: 7% 2%;
    width: 36px;
    height: 36px;
 
  }
.company-list{
  padding-top: 14%;
 }

.an{
  margin-bottom: 13%;

  list-style: none;
text-decoration: none;
text-align: left;
size: 20px;

font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 28px;
 }

/* Buttons*/
.reg-btn {
        font-family: Open Sans;
        font-style: normal;
        font-weight: 700;
        color: #FFFFFF !important;
        background-color: #2E7AF4; 
        border-radius: 3px;
        border-color: #2E7AF4;
        
    }

.view-btn{
    list-style: none;
        text-decoration: none;
        text-align: left;
        margin-left: 25px; 

        font-size: 20px;

        font-family: Open Sans;
        font-size: 112.5%;
        font-style: normal;
        font-weight: bold;
        text-align: centered;

        background: #2E7AF4;
        color: #FFFFFF;
        position: relative;
        border-radius: 3px;
        border-color: #2E7AF4;
        padding: 10px 40px;
        margin: 2% 0 7% 0;

    
}


.sub-btn {
        font-family: Open Sans;
        font-size: 16px;
        font-style: normal;
        width: 131px;
        height: 43px;
        left: 1388px;
        top: 7744px;
        margin-top: 10px;
    
        background: #2E7AF4;
        border-radius: 4px;
        text-align: centered;
    
        color: #FFFFFF;
        border-color: #2E7AF4;

        font-size: 125%;
    }
















































































































































































































/*Responsiveness*/
@media(max-width: 900px){
    .navbar .nav-item{
     display: block;
     width: 100%;
     padding: 10px 0px;
     text-align: center;
    }
    html, body {
        max-width: 100%;
        background: #FFFFFF;
        text-align: center;
        overflow-x: hidden;
    }

    .intro{
        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 125%;
        text-transform: uppercase;
        color: #2E7AF4;
        padding-top: 30%;
    }
    
    

    .around {      
        font-family: Lato;
        font-style: normal;
        font-weight: 800;
        font-size: 250%;
        text-align: center;
        
        color: #000000;
        padding-bottom: 20%;
        }
    
        
    .book{
            position: relative;
            background-color: #FFFFFF;
            position: relative;
            background-position: center;
            background-size: cover;
            border-bottom-right-radius: 5%;
            border-bottom-left-radius: 5%; 
            box-sizing: border-box;
            overflow: hidden; 
            margin-top: 12%;
            align-items: center;
            margin-right: 8%;
        }
        
        .geek{
            padding-top: -20%;
            
        }
        
        .daniel{
            border-radius: 100%;
        }
        
        .long-term{
            text-align: center;
            font-family: Lato;
            font-style: normal;
            font-weight: normal;
            font-size: 112.5%;
            line-height: 25px;

            padding: 3%;
            margin: 0 5%;
        }
        
        .admin{
            display: flex;
            justify-content: space-between;
            padding: 3%;
            margin: 0 5%;
         }

         .contact-div{
            margin-top: 10px; 
            display: inline-block; 
            padding: 4%;
        }
        .first-contact{
            text-align: left;
            width: 100%;
        }
        
 
          .container{
              display: flex;
              justify-content: space-between;
              align-items: center;
              left: 0px;
              top: 0px;
              margin: 0;
              border-radius: 0px;
              padding: 15px; 
          }
          
          .copyright { font-family: Lato;
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 28px;
          margin-top: 6%;
          /* identical to box height, or 233% */
          
          color: #E1E1E1;
          }
          
          .put {
              width: 251px;
              height: 50px;
              left: 1387px;
              top: 7673px;
          }
          
          .fl{  
          list-style: none;
          text-decoration: none;
          text-align: left;
          size: 14px;
          
          font-family: Lato;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 28px;
          /* identical to box height, or 140% */
          color: #E1E1E1;
          margin-bottom: 20%;
          padding-bottom: 10%;
          
          }
          
          .footer-logo{
              width: 250px;
              height:  50px;
              margin-bottom: 4%;
          }
          
          .soc{
            margin: 7% 2%;
            width: 36px;
            height: 36px;
         
          }
          
          .company-list{
            padding-top: 14%;
           }
          
.an{
        
          
        list-style: none;
        text-decoration: none;
        text-align: left;
        size: 20px;
          
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 28px;
           }

        .team-section{
         margin: 16% 0;
        }

        .staff-pic{
            width: 150px;
            height: 150px;
        }
        .team-div{
            align-items: center;
        }


 .footer{
        background-color: #1E2734;
        color: #FFFFFF;
        position: relative;
        }
        
 .foot {
        align-items: center;
        text-align: center;
        border-radius: 0px;
        border-radius: 0px;
        position: relative;
    
        }
        
.footing{
        display: inline-block;
        margin: 0 !important;
        }
.fl{  
    list-style: none;
    text-decoration: none;
    text-align: left;
    size: 20px;
    align-items: center;
            
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
          
    color: #E1E1E1;
    }
.copyright { font-family: Lato;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 28px;
        margin-top: 6%;
                
        color: #E1E1E1;
        }
.footer-logo{
    width: 250px;
    height:  50px;
    margin-bottom: 4%;
            }
            
            
.company-list{
    padding-top: 14%;
             }
            
.an{
    margin-bottom: 13%;
            
    list-style: none;
    text-decoration: none;
            text-align: left;
    size: 20px;
            
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
            font-size: 16px;
    line-height: 28px;
             }
}

/*End of responsiveness*/

























